<form>
  <html>
    <head>
      <title>user registration</title>
      </head>
      <body>
      <form>
      <h1>Registration form</h1>
      <label>Firstname:</label>
      <input type ="text"name="firstname"><br><br>
      <label>Lastname:</label>
      <input type ="text"name="lastname"><br><br>
      <label>Email:</label>
      <input type="Email"id="email"name="email"/><br><br>
      <label>Password</label>
      <input type ="password"id="pwd"name="password">
      </form>
      </body>
  </html>
  tfjjkk
  hello
  world
  
